<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoiseDetect.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NoiseDetect.My.MySettings>
            <setting name="table1_loc" serializeAs="String">
                <value>312, 241</value>
            </setting>
            <setting name="table1_size" serializeAs="String">
                <value>122, 60</value>
            </setting>
            <setting name="table2_loc" serializeAs="String">
                <value>312, 182</value>
            </setting>
            <setting name="table2_size" serializeAs="String">
                <value>122, 60</value>
            </setting>
            <setting name="table3_loc" serializeAs="String">
                <value>312, 123</value>
            </setting>
            <setting name="table3_size" serializeAs="String">
                <value>122, 60</value>
            </setting>
            <setting name="table4_loc" serializeAs="String">
                <value>482, 126</value>
            </setting>
            <setting name="table4_size" serializeAs="String">
                <value>70, 101</value>
            </setting>
            <setting name="table5_loc" serializeAs="String">
                <value>551, 126</value>
            </setting>
            <setting name="table5_size" serializeAs="String">
                <value>70, 101</value>
            </setting>
            <setting name="table6_loc" serializeAs="String">
                <value>621, 126</value>
            </setting>
            <setting name="table6_size" serializeAs="String">
                <value>70, 101</value>
            </setting>
            <setting name="table7_loc" serializeAs="String">
                <value>691, 126</value>
            </setting>
            <setting name="table7_size" serializeAs="String">
                <value>70, 101</value>
            </setting>
            <setting name="table8_loc" serializeAs="String">
                <value>747, 29</value>
            </setting>
            <setting name="table8_size" serializeAs="String">
                <value>79, 54</value>
            </setting>
            <setting name="table9_loc" serializeAs="String">
                <value>747, 280</value>
            </setting>
            <setting name="table9_size" serializeAs="String">
                <value>79, 54</value>
            </setting>
            <setting name="table10_loc" serializeAs="String">
                <value>181, 30</value>
            </setting>
            <setting name="table10_size" serializeAs="String">
                <value>101, 60</value>
            </setting>
            <setting name="door_loc" serializeAs="String">
                <value>12, 28</value>
            </setting>
            <setting name="door_size" serializeAs="String">
                <value>53, 39</value>
            </setting>
            <setting name="logtable_loc" serializeAs="String">
                <value>13, 150</value>
            </setting>
            <setting name="logtable_size" serializeAs="String">
                <value>43, 61</value>
            </setting>
            <setting name="counter_loc" serializeAs="String">
                <value>71, 29</value>
            </setting>
            <setting name="counter_size" serializeAs="String">
                <value>52, 85</value>
            </setting>
            <setting name="librarian1_loc" serializeAs="String">
                <value>144, 235</value>
            </setting>
            <setting name="librarian1_size" serializeAs="String">
                <value>130, 99</value>
            </setting>
            <setting name="librarian2_loc" serializeAs="String">
                <value>13, 254</value>
            </setting>
            <setting name="librarian2_size" serializeAs="String">
                <value>79, 62</value>
            </setting>
            <setting name="librarian3_loc" serializeAs="String">
                <value>482, 235</value>
            </setting>
            <setting name="librarian3_size" serializeAs="String">
                <value>225, 99</value>
            </setting>
            <setting name="bookshelf1_loc" serializeAs="String">
                <value>288, 309</value>
            </setting>
            <setting name="bookshelf1_size" serializeAs="String">
                <value>146, 25</value>
            </setting>
            <setting name="bookshelf2_loc" serializeAs="String">
                <value>288, 29</value>
            </setting>
            <setting name="bookshelf2_size" serializeAs="String">
                <value>146, 29</value>
            </setting>
            <setting name="opac_loc" serializeAs="String">
                <value>440, 29</value>
            </setting>
            <setting name="opac_size" serializeAs="String">
                <value>36, 29</value>
            </setting>
            <setting name="pcsection_loc" serializeAs="String">
                <value>482, 29</value>
            </setting>
            <setting name="pcsection_size" serializeAs="String">
                <value>221, 38</value>
            </setting>
            <setting name="thesaurus_loc" serializeAs="String">
                <value>709, 29</value>
            </setting>
            <setting name="thesaurus_size" serializeAs="String">
                <value>32, 29</value>
            </setting>
            <setting name="bookssection1_loc" serializeAs="String">
                <value>836, 30</value>
            </setting>
            <setting name="bookssection1_size" serializeAs="String">
                <value>137, 137</value>
            </setting>
            <setting name="bookssection2_loc" serializeAs="String">
                <value>836, 197</value>
            </setting>
            <setting name="bookssection2_size" serializeAs="String">
                <value>137, 137</value>
            </setting>
            <setting name="divider_loc" serializeAs="String">
                <value>13, 235</value>
            </setting>
            <setting name="divider_size" serializeAs="String">
                <value>125, 20</value>
            </setting>
        </NoiseDetect.My.MySettings>
    </userSettings>
</configuration>